
html,body {
  padding:0px;
  margin:0px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  background: #222;
  color: #aaa;
  position:relative;
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
  text-align: center;
}
h1 { font-size: 3.5em; }
h2 {
  color: #888;
  font-size: 2em;
}

.navbar-light .navbar-nav .nav-link{
	color:white !important; 
}

.navbar-light .navbar-brand{
	color:white !important;
}
#main-menu{
  z-index:17000 !important;
}

#home{
	/*background:"{{url_for('static', filename='robo.png') }}"*/
	width:100%;
	height:auto; 
  position:absolute;

}
.main-heading{
  margin-top:300px;
  padding-left:400px; 
}

#navbar ul li a:hover{
  text-decoration: line-through;
}

.about-me{
	background-color: #121212;
	width: 100%;
    position:absolute;
  z-index:9999;
}



canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  /*position: absolute;*/
  width: 100%;
  height: auto;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.card{
  background-color:#121212 !important;
}

.social-media li a{ 
  text-decoration:none !important;
  color:white;
}

@media only screen and (max-width: 1500px) {
  .main-menu{
    background-color: black;
  }
  .robot{
    display: none;
  }
  .main-heading{
    width:100%;
    text-align:center;
    margin-top:70px;
    padding-left: 0px;
    z-index:10000;
  }
  .main-heading h1{
    font-size:2em;
  }

  .main-heading h2{
    font-size:1em;
  }
}

@media only screen and (min-width:800px) (max-width: 1500px;){
  .main-heading{
    margin-top:200px;
  }
}

@media only screen and (max-width:768px){
  .main-heading{
    padding-top:200px !important;
  }

  #particles-js{
    height:700px;
  }
}